@model PagedList.IPagedList<AspNetMvcFoad2025.Models.Animal>
@using PagedList.Mvc
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="divSearch">
    @using (Html.BeginForm("Index", "Animal", FormMethod.Get))
    {
        <p>

            @Html.TextBox("Libelle", ViewBag.searchString as string, new { @class = "form-control" })
            <input type="submit" value="Rechercher" class="glyphicon glyphicon-search btn btn-info" />
        </p>
    }
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Poids)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Taille)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateNaissance)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Poids)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Taille)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateNaissance)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

<br />

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount

<br />

@Html.PagedListPager(Model, page => Url.Action("Index", new { page, Libelle = ViewBag.Libelle }))
